html, body {
    font-family: 'Nunito', sans-serif;
    background-color: #edeced

}

h1 {
    font-family: 'Creepster', cursive;
    font-size: 350%;
    text-align: center;
}

h2 {
    font-family: 'Creepster', cursive;
    text-align: center;
    
}

 a{
    color:black;
}

 a:hover{
    color:orange;
}

h3{
    font-family: 'Creepster', cursive;
}

.authorize-div {
    background-color: #FF5D00;
}

.container {
   
}

.navbar{
    background-color:orange;
}

nav a:hover{
    color:#346633;
    font-weight: bold;
}
.btn-link{
    color:black;
}

.btn-link:hover{
    color:#346633;
    font-weight: bold;
    text-decoration: none;
}